<% provide(:title, @brewery.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @brewery.name %></h1>
			<%= link_to "edit profile", edit_brewery_path %>
			
		</section>
	</aside>
	<div class="span8">
		<%= image_tag(@brewery.image) %>
		<p><%= @brewery.email %></p>
		<p><%= @brewery.description %></p>
	</div>
</div>